@import "tailwindcss";

@utility font-geist {
  font-family: var(--font-geist-sans);
}

@utility font-mono {
  font-family: var(--font-geist-mono);
}

@utility font-dancing {
  font-family: var(--font-dancing);
}
